# https://my.telegram.org/apps
api_id = 12345
api_hash = qwerty

# можно оставить по-умолчанию
session = session_file
system_version = 4.16.30-vxCUSTOM
device_model = Android 10.0

# id канала, КУДА пересылать сообщения
target_id = -10012345

# id каналов, ОТКУДА пересылать сообщения; через ", "
source_ids = -10012345, -10067890
